.h1-lh{
    margin: 30px auto 10px auto;
    width: max-content;
}

.lbl{
    width: 10%;
    text-align: left;
}

.input-lh {
    border: 0.5px solid #adadad;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 89%;
    margin: 10px 0px;
}

.btn-lh{
    border: none;
    border-radius: 10px;
    outline: none;
    /*margin-left: 90%;*/
    padding: 13px 25px;
    color: #fff;
    background: #80BB35;
}

.mail-app{
    margin: 0px auto;
    width: 1140px;
    text-align: right;
}